<button mat-raised-button>Hello world</button>
<div class="mat-display-4">This is mat-display-4</div>
<div class="mat-display-3">This is mat-display-3</div>
<div class="mat-display-3">This is mat-display-2</div>
<div class="mat-display-1">This is mat-display-1</div>


<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is title</div>
<div class="mat-subheading-2">This is sub-heading 2</div>
<div class="mat-subheading-1">This is mat-subheading-1</div>


<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is captian</div>

<div class="mat-typography">

  <h1>This is a heading for h1</h1>
 <h2>This is a headinf for h2</h2>
 <h3>This is heading for h3</h3>
 <h4>This is heading for h4</h4>

</div>

<div>
  <button mat-button>Click me</button>
  <button mat-raised-button>Click me</button>
  <button mat-flat-button>Click me</button>
  <button mat-flat-button>Click me</button>
</div>

<div>
  <button mat-icon-button>click me</button>
  <button mat-fab>click me</button>
  <button mat-mini-fab>click me</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warm</button>

  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warning!</button>
</div>

<div>
 
  <mat-button-toggle #toggleBtn checked disableRipple disabled>{{toggleBtn.checked}}</mat-button-toggle>
  
</div>
<div>
  <mat-button-toggle-group #toggle="matButtonToggleGroup" multiple>
  <mat-button-toggle value="angular">Angular</mat-button-toggle>
  <mat-button-toggle value="react">React</mat-button-toggle>
  <mat-button-toggle value="vue">Vue</mat-button-toggle>
</mat-button-toggle-group>
</div>

<div>
  <mat-icon color="warn">grade</mat-icon>
</div>

<div>
  <span matBadge="5" matBadgePosition="below before">Notofication</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below after">Notofication</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="above before" >Notofication</span>
</div>

<div>
  <span matBadge="5" >Notofication</span>
</div>


<div>
  <span matBadge="5" matBadgeSize="small">Notofication</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="medium" >Notofication</span>
</div>

<div>
  <span matBadge="5"matBadgeSize="large" >Notofication</span>
</div>


<div>
  <span matBadge="5" matBadgeColor="primary">Notofication</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="accent" >Notofication</span>
</div>

<div>
  <span [matBadge]="notifications"matBadgeColor="warn" matBadgeOverlap="false" [matBadgeHidden]="notifications=== 0">Notofication</span>
</div>

<mat-progress-spinner value="100"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">LoadData</button>


<mat-toolbar color="primary" class="navbar">

  <span>Home</span>
  <span>About</span>
  <span>Services</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav  [(opened)]="opened" (opened)="log('opened')" (closed)="log('closed')"   mode="side">SideNav</mat-sidenav>
  <mat-sidenav-content>Main
    <button mat-raised-button (click)="opened=!opened">Toggle Open</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>


<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu" class="center">Menu</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>


<mat-menu>
  <ng-template matMenuContent="">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log Out</button>
  </ng-template>
</mat-menu>
<!-- <button mat-raised-button [matMenuTriggerData]="{name:'Arnav'}" [matMenuTriggerFor]="lazyMenu"> Arnav </button>
<button mat-raised-button [matMenuTriggerFor]="lazyMenu" [matMenuTriggerData]="{name:'Codevolution'}"> Codevolution</button> -->

<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>


<mat-nav-list>
  <a mat-list-item href="#">Home </a>
  <a mat-list-item href="#">About</a>
  <a mat-list-item href="#">Services</a>
</mat-nav-list>

<mat-list>
  <mat-list-item>
  <mat-icon mat-list-icon>home</mat-icon>

  <h3 matLine>Heading</h3>
  <p matLine>Line</p>
</mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item>
  <mat-icon mat-list-icon>folder</mat-icon>

  <h3 matLine>Heading</h3>
  <p matLine>Line</p>
</mat-list-item>
</mat-list>

<mat-grid-list cols="2" rowHeight="fit" style="height:600px" gutterSize="1rem">
  <mat-grid-tile rowspan="2" colspan="2">Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 2</mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>



<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals
      </mat-panel-title>
     <mat-panel-description>
      Total Duration  :3 hours
     </mat-panel-description>

    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Material
    </mat-panel-title>
   <mat-panel-description>
    Total Duration  :2 hours
   </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the panel content. Add course details</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>



<mat-card>
  <mat-card-title>
  Card Title
  </mat-card-title>
  <mat-card-content>
    This is the vard content
  </mat-card-content>
  <mat-card-actions align="end">
<button mat-flat-button>Login</button>
  </mat-card-actions>
</mat-card>


<mat-tab-group #tabRef (selectedIndexChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular" >Angular stuff</mat-tab>
  <mat-tab label="React" >React stuff</mat-tab>
  <mat-tab label="Vue" >Vue stuff</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}}


<mat-horizontal-stepper>
  <mat-step label="shipping Adress" completed="false"><p>Shipping Address</p></mat-step>
  <mat-step label="Billimg Adress" completed="false"><p>Billing Address</p><div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div></mat-step>
  <mat-step label="Order Details" completed="false"><p>Order Details</p></mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper>
  <mat-step label="shipping Adress" completed="false"><p>Shipping Address</p></mat-step>
  <mat-step label="Billimg Adress" completed="false"><p>Billing Address</p><div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div></mat-step>
  <mat-step label="Order Details" completed="false"><p>Order Details</p></mat-step>
</mat-vertical-stepper>


<mat-form-field floatLabel="auto">
  <mat-label>Name</mat-label>
  <input matInput required >
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select>
   
    <mat-option>Angular</mat-option>
    <mat-option>React</mat-option>
    <mat-option>Vue</mat-option>
  </mat-select>
</mat-form-field>


<form action="">
  <input type="text" matInput [matAutocomplete]="auto">
  <mat-autocomplete  #auto="matAutocomplete" >
    <mat-option *ngFor="let option of objectOptions" [value]="options" [value]="options">{{option.name}}</mat-option>
  </mat-autocomplete>
</form>



<form action="">
  <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
  <mat-autocomplete  #auto="matAutocomplete" >
    <mat-option *ngFor="let option of   filteredOptions | async" [value]="options" [value]="options">{{option}}</mat-option>
  </mat-autocomplete>
</form>

<mat-checkbox color="warn">Subscribe</mat-checkbox>

<mat-checkbox color="primary">Subscribe</mat-checkbox>


<!-- <mat-radio-group>
  <mat-radio-button value="angular">Angular</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
  <mat-radio-button value="vue" color="primary">Vue</mat-radio-button>
</mat-radio-group>


<mat-form-field>
  <input type="text" matInput [matDatepicker]="myDatePicker">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field> -->


<button mat-raised-button matTooltip="Welcome to codeEvolution" matTooltipPosition="after" matTooltipShowDelay="2000">Hello</button>

<button mat-button (click)="openSnackBar('Item Deleted','Undo')">Delete</button>

<button mat-raised-button  (click)="openDialog()">Dialog</button>



<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizaOptions]="[5,20,20]"></mat-paginator>

<cdk-virtual-scroll-viewport itemSize="100" >

  <div *ngFor="let number of numbers">{{number}} </div>
</cdk-virtual-scroll-viewport>
