button{
    margin-right: 3rem;
}
div{
    margin: 3rem;
}
.navbar{
    justify-content: space-between;

}

mat-sidenav-container{
min-height: 20%;
}

mat-sidenav, mat-sidenav-content{
    padding: 1rem;
}
mat-sidenav{
    background-color: lightcoral;
    width: 200px;
}

.center{
    margin: 10rem;
}
mat-grid-tile{
    background-color: beige;
}

