<h2 mat-dialog-title> Session timeout</h2>
<mat-dialog-content>hi {{data.name}}You will be logged out due to inactivity</mat-dialog-content>

<button mat-button mat-dialog-close></button>
<mat-dialog-actions mat-button mat-dialog-close="false"></mat-dialog-actions>